{
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 110,
  "semi": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "lf"
}
